.Modal {
  position: fixed;
  z-index: 100;
  box-sizing: border-box;
  width: 70%;
  background-color: white;
  padding: 1rem;
  box-shadow: 1px 1px 1px black;
  border: 1px solid #ccc;
  left: 15%;
  top: 30%;
  transition: all 0.3s ease-out;
}

@media (min-width: 37.5rem) {
  .Modal {
    width: 31.25rem;
    left: calc(50% - 15.625rem);
  }
}
