.SideDrawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 17.5rem;
  max-width: 70%;
  height: 100%;
  background-color: white;
  padding: 2rem 1rem;
  z-index: 200;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}

.Logo {
  height: 11%;
  margin-bottom: 1.5rem;
}

.open {
  transform: translateX(0);
}

.close {
  transform: translateX(-100%);
}

@media (min-width: 31.25em) {
  .SideDrawer {
    display: none;
  }
}
