.NavigationItems {
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
}

@media (min-width: 31.25em) {
  .NavigationItems {
    flex-flow: row;
  }
}
